In [14]:
import pandas as pd
from pathlib import Path

In [15]:
# Read in the CSV file as a Pandas DataFrame
cardio_df = pd.read_csv(
    Path("Cardio_Behavioral_Risk_Factor_Surveillance_System__BRFSS__-__National_Cardiovascular_Disease_Surveillance_Data.csv")
)

# Review the DataFrame
cardio_df.head()

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,BRFSS~2011~01~BR001~OVR01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Overall,Overall,C1,T1,BR001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076199969 32.84057112200048)
1,BRFSS~2011~01~BR001~OVR01~Crude,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Overall,Overall,C1,T1,BR001,Crude,BOC01,OVR01,1,POINT (-86.63186076199969 32.84057112200048)
2,BRFSS~2011~01~BR001~GEN01~Crude,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Male,C1,T1,BR001,Crude,BOC02,GEN01,1,POINT (-86.63186076199969 32.84057112200048)
3,BRFSS~2011~01~BR001~GEN01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Male,C1,T1,BR001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076199969 32.84057112200048)
4,BRFSS~2011~01~BR001~GEN02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,BR001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076199969 32.84057112200048)

In [16]:
# remove crude prevelance
cardio_df = cardio_df.loc[(cardio_df["Data_Value_Type"] == "Age-Standardized"),:]
cardio_df

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,BRFSS~2011~01~BR001~OVR01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Overall,Overall,C1,T1,BR001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076199969 32.84057112200048)
3,BRFSS~2011~01~BR001~GEN01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Male,C1,T1,BR001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076199969 32.84057112200048)
4,BRFSS~2011~01~BR001~GEN02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,BR001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076199969 32.84057112200048)
13,BRFSS~2011~01~BR001~RAC01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic White,C1,T1,BR001,AgeStdz,BOC04,RAC01,1,POINT (-86.63186076199969 32.84057112200048)
14,BRFSS~2011~01~BR001~RAC02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,BR001,AgeStdz,BOC04,RAC02,1,POINT (-86.63186076199969 32.84057112200048)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160151,BRFSS~2020~58~BR012~RAC01~Age-Standardized,2020,USM,Median of all states,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic White,C2,T9,BR012,AgeStdz,BOC04,RAC01,58,NaN
160152,BRFSS~2020~58~BR012~RAC02~Age-Standardized,2020,USM,Median of all states,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Black,C2,T9,BR012,AgeStdz,BOC04,RAC02,58,NaN
160155,BRFSS~2020~58~BR012~RAC03~Age-Standardized,2020,USM,Median of all states,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Asian,C2,T9,BR012,AgeStdz,BOC04,RAC03,58,NaN
160156,BRFSS~2020~58~BR012~RAC04~Age-Standardized,2020,USM,Median of all states,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Hispanic,C2,T9,BR012,AgeStdz,BOC04,RAC04,58,NaN
160159,BRFSS~2020~58~BR012~RAC07~Age-Standardized,2020,USM,Median of all states,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Other,C2,T9,BR012,AgeStdz,BOC04,RAC07,58,NaN

In [17]:
cardio_df["Break_Out"].value_counts()

Overall               7280
Male                  7280
Female                7280
Non-Hispanic White    7280
Non-Hispanic Black    7280
Non-Hispanic Asian    7280
Hispanic              7280
Other                 7280
Name: Break_Out, dtype: int64

In [18]:
#remove US mean rows
cardio_df = cardio_df[cardio_df["LocationAbbr"] != 'USM']
cardio_df

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,BRFSS~2011~01~BR001~OVR01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Overall,Overall,C1,T1,BR001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076199969 32.84057112200048)
3,BRFSS~2011~01~BR001~GEN01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Male,C1,T1,BR001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076199969 32.84057112200048)
4,BRFSS~2011~01~BR001~GEN02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,BR001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076199969 32.84057112200048)
13,BRFSS~2011~01~BR001~RAC01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic White,C1,T1,BR001,AgeStdz,BOC04,RAC01,1,POINT (-86.63186076199969 32.84057112200048)
14,BRFSS~2011~01~BR001~RAC02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,BR001,AgeStdz,BOC04,RAC02,1,POINT (-86.63186076199969 32.84057112200048)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160129,BRFSS~2020~56~BR012~RAC01~Age-Standardized,2020,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic White,C2,T9,BR012,AgeStdz,BOC04,RAC01,56,POINT (-108.10983035299967 43.23554134300048)
160130,BRFSS~2020~56~BR012~RAC02~Age-Standardized,2020,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Black,C2,T9,BR012,AgeStdz,BOC04,RAC02,56,POINT (-108.10983035299967 43.23554134300048)
160133,BRFSS~2020~56~BR012~RAC03~Age-Standardized,2020,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Asian,C2,T9,BR012,AgeStdz,BOC04,RAC03,56,POINT (-108.10983035299967 43.23554134300048)
160134,BRFSS~2020~56~BR012~RAC04~Age-Standardized,2020,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Hispanic,C2,T9,BR012,AgeStdz,BOC04,RAC04,56,POINT (-108.10983035299967 43.23554134300048)
160136,BRFSS~2020~56~BR012~RAC07~Age-Standardized,2020,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Other,C2,T9,BR012,AgeStdz,BOC04,RAC07,56,POINT (-108.10983035299967 43.23554134300048)

In [19]:
cardio_df = cardio_df[cardio_df["YearStart"] != 2020]
cardio_df

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,BRFSS~2011~01~BR001~OVR01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Overall,Overall,C1,T1,BR001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076199969 32.84057112200048)
3,BRFSS~2011~01~BR001~GEN01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Male,C1,T1,BR001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076199969 32.84057112200048)
4,BRFSS~2011~01~BR001~GEN02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,BR001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076199969 32.84057112200048)
13,BRFSS~2011~01~BR001~RAC01~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic White,C1,T1,BR001,AgeStdz,BOC04,RAC01,1,POINT (-86.63186076199969 32.84057112200048)
14,BRFSS~2011~01~BR001~RAC02~Age-Standardized,2011,AL,Alabama,BRFSS,None,NaN,None,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,BR001,AgeStdz,BOC04,RAC02,1,POINT (-86.63186076199969 32.84057112200048)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158985,BRFSS~2019~56~BR012~RAC01~Age-Standardized,2019,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic White,C2,T9,BR012,AgeStdz,BOC04,RAC01,56,POINT (-108.10983035299967 43.23554134300048)
158986,BRFSS~2019~56~BR012~RAC02~Age-Standardized,2019,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Black,C2,T9,BR012,AgeStdz,BOC04,RAC02,56,POINT (-108.10983035299967 43.23554134300048)
158989,BRFSS~2019~56~BR012~RAC03~Age-Standardized,2019,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Non-Hispanic Asian,C2,T9,BR012,AgeStdz,BOC04,RAC03,56,POINT (-108.10983035299967 43.23554134300048)
158990,BRFSS~2019~56~BR012~RAC04~Age-Standardized,2019,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Hispanic,C2,T9,BR012,AgeStdz,BOC04,RAC04,56,POINT (-108.10983035299967 43.23554134300048)
158993,BRFSS~2019~56~BR012~RAC07~Age-Standardized,2019,WY,Wyoming,BRFSS,None,NaN,Healthy People 2030,NaN,Risk Factors,...,Race,Other,C2,T9,BR012,AgeStdz,BOC04,RAC07,56,POINT (-108.10983035299967 43.23554134300048)

In [20]:
cardio_df = cardio_df.drop(columns = ["RowId","DataSource", "Class","Topic","LocationDesc", "PriorityArea1", "PriorityArea2", "PriorityArea3", "PriorityArea4", "Data_Value_Alt", "Data_Value_Unit", "Data_Value_TypeID", "Data_Value_Footnote_Symbol", "ClassId","TopicId","QuestionId","BreakOutCategoryId", "BreakOutId","LocationId", "Geolocation", "Data_Value_Footnote", "Low_Confidence_Limit", "High_Confidence_Limit"])
cardio_df

,YearStart,LocationAbbr,Question,Data_Value_Type,Data_Value,Break_Out_Category,Break_Out
0,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.9,Overall,Overall
3,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,11.8,Gender,Male
4,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,8.3,Gender,Female
13,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.5,Race,Non-Hispanic White
14,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,10.2,Race,Non-Hispanic Black
...,...,...,...,...,...,...,...
158985,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,50.0,Race,Non-Hispanic White
158986,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,58.0,Race,Non-Hispanic Black
158989,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,58.0,Race,Non-Hispanic Asian
158990,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,40.8,Race,Hispanic
158993,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,NaN,Race,Other

In [21]:
cardio_df = cardio_df[cardio_df['Data_Value'].notna()]
cardio_df

,YearStart,LocationAbbr,Question,Data_Value_Type,Data_Value,Break_Out_Category,Break_Out
0,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.9,Overall,Overall
3,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,11.8,Gender,Male
4,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,8.3,Gender,Female
13,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.5,Race,Non-Hispanic White
14,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,10.2,Race,Non-Hispanic Black
...,...,...,...,...,...,...,...
158976,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,57.5,Gender,Female
158985,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,50.0,Race,Non-Hispanic White
158986,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,58.0,Race,Non-Hispanic Black
158989,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,58.0,Race,Non-Hispanic Asian
158990,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,40.8,Race,Hispanic

In [22]:
cardio_df = cardio_df[cardio_df['Break_Out_Category'].isin(['Overall','Gender'])]
cardio_df

,YearStart,LocationAbbr,Question,Data_Value_Type,Data_Value,Break_Out_Category,Break_Out
0,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.9,Overall,Overall
3,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,11.8,Gender,Male
4,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,8.3,Gender,Female
22,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.5,Overall,Overall
25,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.8,Gender,Male
...,...,...,...,...,...,...,...
158953,2019,WI,Prevalence of hypertension medication use amon...,Age-Standardized,54.2,Gender,Male
158954,2019,WI,Prevalence of hypertension medication use amon...,Age-Standardized,61.0,Gender,Female
158972,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,48.5,Overall,Overall
158975,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,45.6,Gender,Male
158976,2019,WY,Prevalence of hypertension medication use amon...,Age-Standardized,57.5,Gender,Female

In [23]:
cardio_df["Question"].value_counts()

Prevalence of major cardiovascular disease among US adults (18+); BRFSS                                  1221
Prevalence of acute myocardial infarction (heart attack) among US adults (18+); BRFSS                    1221
Prevalence of coronary heart disease among US adults (18+); BRFSS                                        1221
Prevalence of stroke among US adults (18+); BRFSS                                                        1221
Prevalence of diabetes among US adults (18+); BRFSS                                                      1221
Prevalence of obesity among US adults (20+); BRFSS                                                       1221
Prevalence of physical inactivity among US adults (18+); BRFSS                                           1221
Prevalence of current smoking among US adults (18+); BRFSS                                               1221
Prevalence of hypertension among US adults (18+); BRFSS                                                   762
Prevalence of hypertension medication use among US adults (18+) with hypertension; BRFSS                  762
Prevalence of high total cholesterol among US adults (20+); BRFSS                                         609
Prevalence of cholesterol screening in the past 5 years among US adults (20+); BRFSS                      607
Prevalence of consuming fruits and vegetables less than 5 times per day among US adults (18+); BRFSS      303
Prevalence of post-hospitalization rehabilitation among heart attack patients, US adults (18+); BRFSS      71
Name: Question, dtype: int64

In [24]:
cardio_df = cardio_df[cardio_df['Question'].isin(['Prevalence of major cardiovascular disease among US adults (18+); BRFSS',
                                                  'Prevalence of acute myocardial infarction (heart attack) among US adults (18+); BRFSS',
                                                 'Prevalence of coronary heart disease among US adults (18+); BRFSS',
                                                 'Prevalence of stroke among US adults (18+); BRFSS',
                                                 'Prevalence of diabetes among US adults (18+); BRFSS',
                                                 'Prevalence of obesity among US adults (20+); BRFSS',
                                                 'Prevalence of physical inactivity among US adults (18+); BRFSS',
                                                 'Prevalence of physical inactivity among US adults (18+); BRFSS',
                                                 'Prevalence of physical inactivity among US adults (18+); BRFSS'])]
cardio_df

,YearStart,LocationAbbr,Question,Data_Value_Type,Data_Value,Break_Out_Category,Break_Out
0,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.9,Overall,Overall
3,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,11.8,Gender,Male
4,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,8.3,Gender,Female
22,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.5,Overall,Overall
25,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.8,Gender,Male
...,...,...,...,...,...,...,...
124633,2019,WI,Prevalence of physical inactivity among US adu...,Age-Standardized,79.9,Gender,Male
124634,2019,WI,Prevalence of physical inactivity among US adu...,Age-Standardized,75.0,Gender,Female
124652,2019,WY,Prevalence of physical inactivity among US adu...,Age-Standardized,76.1,Overall,Overall
124655,2019,WY,Prevalence of physical inactivity among US adu...,Age-Standardized,75.0,Gender,Male
124656,2019,WY,Prevalence of physical inactivity among US adu...,Age-Standardized,77.2,Gender,Female

In [25]:
cardio_df["Question"].value_counts()

Prevalence of major cardiovascular disease among US adults (18+); BRFSS                  1221
Prevalence of acute myocardial infarction (heart attack) among US adults (18+); BRFSS    1221
Prevalence of coronary heart disease among US adults (18+); BRFSS                        1221
Prevalence of stroke among US adults (18+); BRFSS                                        1221
Prevalence of diabetes among US adults (18+); BRFSS                                      1221
Prevalence of obesity among US adults (20+); BRFSS                                       1221
Prevalence of physical inactivity among US adults (18+); BRFSS                           1221
Name: Question, dtype: int64

In [29]:
cardio_df['YearStart'] = cardio_df['YearStart'].astype(str)
cardio_df['Year-State'] = cardio_df['YearStart'] + '-' + cardio_df['LocationAbbr']
cardio_df.head()

C:\Users\Cody\AppData\Local\Temp\ipykernel_20712\997709564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardio_df['YearStart'] = cardio_df['YearStart'].astype(str)
C:\Users\Cody\AppData\Local\Temp\ipykernel_20712\997709564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardio_df['Year-State'] = cardio_df['YearStart'] + '-' + cardio_df['LocationAbbr']

,YearStart,LocationAbbr,Question,Data_Value_Type,Data_Value,Break_Out_Category,Break_Out,Year-State
0,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,9.9,Overall,Overall,2011-AL
3,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,11.8,Gender,Male,2011-AL
4,2011,AL,Prevalence of major cardiovascular disease amo...,Age-Standardized,8.3,Gender,Female,2011-AL
22,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.5,Overall,Overall,2011-AK
25,2011,AK,Prevalence of major cardiovascular disease amo...,Age-Standardized,6.8,Gender,Male,2011-AK

In [88]:
year_state_list = []
for index,row in cardio_df.iterrows():
    year_state = row['Year-State']
    if year_state not in year_state_list:
        year_state_list.append(year_state)

In [89]:
major_cvd_overall = []
major_cvd_male = []
major_cvd_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of major cardiovascular disease among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            major_cvd_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            major_cvd_male.append(value)
        else:
            value = row['Data_Value'] 
            major_cvd_female.append(value)

In [90]:
heart_attack_overall = []
heart_attack_male = []
heart_attack_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of acute myocardial infarction (heart attack) among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            heart_attack_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            heart_attack_male.append(value)
        else:
            value = row['Data_Value'] 
            heart_attack_female.append(value)

In [91]:
chd_overall = []
chd_male = []
chd_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of coronary heart disease among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            chd_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            chd_male.append(value)
        else:
            value = row['Data_Value'] 
            chd_female.append(value)

In [92]:
stroke_overall = []
stroke_male = []
stroke_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of stroke among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            stroke_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            stroke_male.append(value)
        else:
            value = row['Data_Value'] 
            stroke_female.append(value)

In [93]:
diabetes_overall = []
diabetes_male = []
diabetes_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of diabetes among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            diabetes_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            diabetes_male.append(value)
        else:
            value = row['Data_Value'] 
            diabetes_female.append(value)

In [94]:
obesity_overall = []
obesity_male = []
obesity_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of obesity among US adults (20+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            obesity_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            obesity_male.append(value)
        else:
            value = row['Data_Value'] 
            obesity_female.append(value)

In [95]:
physical_inactive_overall = []
physical_inactive_male = []
pysical_inactive_female = []

for index,row in cardio_df.iterrows():
    if row['Question'] == "Prevalence of physical inactivity among US adults (18+); BRFSS":
        if row['Break_Out'] == 'Overall':        
            value = row['Data_Value'] 
            physical_inactive_overall.append(value)
        elif row['Break_Out'] == 'Male':
            value = row['Data_Value'] 
            physical_inactive_male.append(value)
        else:
            value = row['Data_Value'] 
            pysical_inactive_female.append(value)

In [96]:
test_df = pd.DataFrame({"Year-State": year_state_list,
                        "Inactive-Female": pysical_inactive_female,
                       "Inactive-Male": physical_inactive_male, 
                       "Inactive-Overall":physical_inactive_overall,
                       "Obese-Female": obesity_female,
                       "Obese-Male": obesity_male,
                       "Obese-Overall":obesity_overall,
                       "Diabetic-Female": diabetes_female,
                       "Diabetic-Male": diabetes_male,
                       "Diabetic-Overall": diabetes_overall,
                       "Stroke-Female": stroke_female,
                       "Stroke-Male": stroke_male,
                       "Stroke-Overall": stroke_overall,
                       "Coronary Disease-Female": chd_female,
                       "Coronary Disease-Male": chd_male,
                       "Coronary Disease-Overall": chd_overall,
                       "Heart Attack-Female":heart_attack_female,
                       "Heart Attack-Male":heart_attack_male,
                       "Heart Attack-Overall":major_cvd_overall,
                       "Major CV Disease-Female":major_cvd_female,
                       "Major CV Disease-Male":major_cvd_male,
                       "Major CV Disease-Overall":major_cvd_overall}) 
test_df

,Year-State,Inactive-Female,Inactive-Male,Inactive-Overall,Obese-Female,Obese-Male,Obese-Overall,Diabetic-Female,Diabetic-Male,Diabetic-Overall,...,Stroke-Overall,Coronary Disease-Female,Coronary Disease-Male,Coronary Disease-Overall,Heart Attack-Female,Heart Attack-Male,Heart Attack-Overall,Major CV Disease-Female,Major CV Disease-Male,Major CV Disease-Overall
0,2011-AL,65.7,70.6,68.0,32.9,32.9,32.9,11.4,10.4,10.8,...,4.2,4.0,6.2,5.0,3.0,6.4,9.9,8.3,11.8,9.9
1,2011-AK,75.8,79.8,77.9,27.6,28.6,28.1,8.6,8.1,8.4,...,2.7,2.5,3.2,2.9,2.9,4.2,6.5,6.2,6.8,6.5
2,2011-AZ,75.9,76.3,76.1,26.7,24.9,25.7,8.1,10.0,9.0,...,2.8,2.9,4.3,3.5,2.9,5.1,7.8,6.5,9.4,7.8
3,2011-AR,67.2,72.9,70.0,32.4,31.0,31.6,9.7,11.2,10.4,...,3.7,4.3,6.1,5.1,4.5,7.4,9.8,8.2,11.6,9.8
4,2011-CA,80.1,81.8,80.9,25.1,23.9,24.6,7.9,9.2,8.4,...,2.2,2.6,4.7,3.5,2.2,4.6,6.6,5.3,8.1,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2019-VA,73.8,76.8,75.3,34.6,30.5,32.5,9.1,10.6,9.8,...,2.9,1.9,4.0,2.9,2.3,4.9,6.9,5.6,8.4,6.9
403,2019-WA,80.7,81.5,81.1,28.5,29.2,28.9,7.8,9.3,8.5,...,2.5,2.2,3.6,2.8,2.0,4.2,6.4,5.0,8.0,6.4
404,2019-WV,68.5,73.0,70.7,41.2,40.7,40.9,12.7,13.6,13.1,...,4.2,4.9,7.8,6.2,5.1,8.4,11.9,10.4,13.7,11.9
405,2019-WI,75.0,79.9,77.4,36.1,33.1,34.5,7.0,7.8,7.3,...,2.2,1.5,4.3,2.8,1.5,4.2,5.7,4.0,7.6,5.7
406,2019-WY,77.2,75.0,76.1,29.4,31.5,30.5,6.6,6.8,6.7,...,2.8,2.4,3.1,2.7,2.2,4.5,6.6,5.9,7.5,6.6

In [86]:
len(year_state)

7